<h1>Your project</h1>

<p>Name: <%= @project.name %></p>
<p>Creator: <%= @project.creator %></p>
<p>Short Description: <%= @project.short_description %></p>
<p>Long Description: <%= @project.long_description %></p>
<p>Category: <%= @project.category.name %></p>