<%= flash[:success] if flash[:success] %><br><br>

<% if current_user && current_user.comments.include?(@comment) %>
  <%= link_to "Edit comment", edit_comment_path(@comment), class: 'form_button' %>
  <%= link_to 'Delete comment',  project_comment_path(@project, @comment),
      data: { confirm: 'Are you sure you want to delete this comment?' }, method: :delete, class: 'form_button' %>
<%end%>

<h1><%= @project.title %></h1>

<%= @comment.content %><br><br>
By: <%= @user_name %><br><br>

<%= link_to "Back to project", project_path(@project) %>