
<% if current_user %>
   <%= current_user.email %>
<% end %>

<h1>All projects</h1>

<% @projects.each do |project| %>
  <% if params[:user_id] %>
    <%= link_to project.title, user_project_path(params[:user_id], project.id) %><br>
  <% else %>
    <%= link_to project.title, project_path(project) %><br>
  <% end %>
  <%= project.short_description %><br>
<%end%>

<h2>Top projects</h2>
<% @top_projects.each do |project| %>
  <%= project.title %>
<%end%>