<%= flash[:success] if flash[:success] %>
<br>
<h3>Check out the latest projects. Start your own today!</h3>
<br><br>

<h2>Trending projects</h2>
<% @trending_projects.each do |project| %>
  <%= project.title %>
<%end%>

<br><br><br>

<h2>All projects</h2>

<% @projects.each do |project| %>
  <% if params[:user_id] %>
    <%= link_to project.title, user_project_path(params[:user_id], project.id), :class => "project_title" %><br>
  <% else %>
    <%= link_to project.title, project_path(project), :class => "project_title" %><br>
  <% end %>
  <p class="created">Created by: <%= User.find(project.user_id).name %></p>
<%end%>