<%= flash[:success] if flash[:success] %>
<h3>We have a wide a variety of projects.</h3><br>
<%if current_user %>
  <p><%= link_to "Add yours today.", new_project_path, :class => "form_button" %></p>
<%else%>
  <p><%= link_to "Add yours today.", new_user_session_path, :class => "form_button" %></p>
<%end%>
<br><br>

<h2>What's Popular</h2>
<% @trending_projects.each do |project| %>
  <%= project.title %>
<%end%>
<br><br><br>

<%if params[:user_id]%>
  <h2>My Projects</h2><br>
<%else%>
  <h2>Discover Awesome Projects</h2><br>
<%end%>


<% @projects.each do |project| %>
  <% if params[:user_id] %>
    <center><div class="each">
    <%= link_to project.title, user_project_path(params[:user_id], project.id), :class => "project_title" %><br>
    <p class="created">Created by: <%= User.find(project.user_id).name %></p>
    <%= link_to image_tag(project.image.url, class: 'media-object'), project.image.url, target: '_blank' %>
    <div class=projectShortBlurb-<%=project.id%>></div>
    <div class=projectLikes-<%=project.id%>></div>
    <div class=projectLocation-<%=project.id%>></div>
    <%= link_to "View Project", project_path(project), :class => "more-#{project.id} view" %><br><br>
    </div></center>
    <br><br>
  <% else %>
   <center><div class="each">
    <%= link_to project.title, project_path(project), :class => "project_title" %><br><br>
    <center><%= link_to image_tag(project.image.url, class: 'media-object'), project.image.url, target: '_blank' %></center><br>
    <p class="created">Created by: <%= User.find(project.user_id).name %></p>
    <div class=projectShortBlurb-<%=project.id%>></div>
    <div class=projectLikes-<%=project.id%>></div>
    <div class=projectLocation-<%=project.id%>></div>
    <%= link_to "View Project", project_path(project), :class => "more-#{project.id} view" %><br><br>
    </div></center>
    <br><br>
  <% end %>
<%end%>


<script type="text/javascript" charset="utf-8">

  $(function () {

  $(".view").hide();
  
  $(".project_title").on("click", function(event) {
    event.preventDefault();

    var projectUrl = event["target"]["pathname"];
    var project_str = projectUrl.substring(projectUrl.indexOf("p") + 1);
    var projectId = parseInt(project_str.match(/\d+/g).join(''));
    
    $.get(projectUrl + ".json", function(data) {
      
      var project = new Project(data.short_blurb, data.likes, data.location);
      project.display_project(); 

    });

    function Project(short_blurb, likes, location){
      this.short_blurb = short_blurb;
      this.likes = likes;
      this.location = location;

      this.display_project = function(){
        if($(".projectShortBlurb-" + projectId).text() == ""){
          $(".projectShortBlurb-" + projectId).text(short_blurb);
          $(".projectLikes-" + projectId).text("Likes: " + likes);
          $(".projectLocation-" + projectId).text(location);
          $(".more-"+projectId).show();
        }
        else{
          $(".projectShortBlurb-" + projectId).text("");
          $(".projectLikes-" + projectId).text("");
          $(".projectLocation-" + projectId).text("");
          $(".more-"+projectId).hide();
        }
       }
     }

  });
});
</script>

</script>