<%= flash[:success] if flash[:success] %>
<br>
<h3>Check out the latest projects. Start your own today!</h3>
<br><br>

<h2>Trending projects</h2>
<% @trending_projects.each do |project| %>
  <%= project.title %>
<%end%>

<br><br><br>

<h2>All projects</h2>

<% @projects.each do |project| %>
  <% if params[:user_id] %>
    <%= link_to project.title, user_project_path(params[:user_id], project.id), :class => "project_title" %><br>
    <p class="created">Created by: <%= User.find(project.user_id).name %></p>

    <div class=projectShortBlurb-<%= project.id %>></div>
    <div class=projectLikes-<%=project.id%>></div>
  <% else %>
    <%= link_to project.title, project_path(project), :class => "project_title" %><br>
    <p class="created">Created by: <%= User.find(project.user_id).name %></p>
    <div class=projectShortBlurb-<%=project.id%>></div>
    <div class=projectLikes-<%=project.id%>></div>
  <% end %>
<%end%>


<script type="text/javascript" charset="utf-8">
  $(function () {
  $(".project_title").on("click", function(event) {
    event.preventDefault();

    var projectUrl = event["target"]["href"];

    var projectId = projectUrl.slice(-1);
    
    $.get(projectUrl + ".json", function(data) {

      
      if($(".projectShortBlurb-" + projectId).text() == ""){
        $(".projectShortBlurb-" + projectId).text(data.short_blurb);
        $(".projectLikes-" + projectId).text("Likes: " + data.likes);
      }
      else{
        $(".projectShortBlurb-" + projectId).text("");
        $(".projectLikes-" + projectId).text("Likes: " + data.likes);
      }

    });
  });
});

</script>