<%= flash[:success] if flash[:success] %>
<br><br>

<% if current_user && current_user.created_projects.include?(@project) %>
  <%= link_to "Edit project", edit_project_path(@project), class: 'form_button' %>
    <%= link_to 'Delete project',  user_project_path(current_user, @project),
        data: { confirm: 'Are you sure you want to delete this project?' }, method: :delete, class: 'form_button' %><br>
<%end%>

<br><br>

<center><div class="project">

  <h1 class="project_title_1"><%= @project.title %></h1>
  <br>
  <p class="creator">Created by: <%= @user_name %></p>

  <% if !@project.image_file_name.nil? %>
    <center><%= link_to image_tag(@project.image.url, class: 'media-object'), @project.image.url, target: '_blank' %></center>
  <%end%>
  <br>
  <p class="created"><%= @project.short_blurb %></p>


  <div class="likes"><%= pluralize(@project.likes, 'like') %></div>

  <br><br><br>
  <% @project.categories.each do |category| %>
    <p><%= category.name %></p>
  <%end%>

</div></center>
<br>

<% if current_user && !current_user.created_projects.include?(@project) %>
  <%= link_to "Like", project_like_path(@project), class: 'btn btn-default glyphicon glyphicon-thumbs-up' %><br><br>
<%end%>

<% if !current_user %>
  <%= link_to "Sign in", user_session_path %> to like or post a comment!
<%end%>

<div id="form"> 
  <%= form_for ([@project, Comment.new(project_id: @project.id)]) do |f| %>
    <%= f.hidden_field :project_id %>
    <%= f.label "Comment" %><br>
    <%= f.text_area :content, class: 'text-area' %><br><br>
    <%= f.submit %>
  <%end%>
</div>

<a href="" class="comments">Load Comments:</a><br><br>

<div id="box">
<% @project.comments.each_with_index do |comment, index| %>
  <%if current_user && index != @project.comments.size - 1 %>
    
  <%end%>

  <div class=comment_content-<%=comment.id+1%>></div>
  <div class=comment_user-<%=comment.id+1%>></div>
  
<%end%>
</div>

<div class='comment_div'></div>

<script type="text/javascript" charset="utf-8">
$(function () {

  $(".edit").hide();
  $(".delete").hide();

  $(".comments").click(function(event){

    event.preventDefault();

    var projectUrl = event["target"]["href"];
    var projectId = projectUrl.slice(-1);

    $.get(projectUrl + ".json", function(data) {


      data["comments"].forEach(function(object){
        
        if($("#box").text().indexOf(object.content) === -1){
          loadData(object);
          $(".edit_comment-"+object.id).show();
          $(".delete_comment-"+object.id).show();
        }
        else{
          event.preventDefault();
        }
      });

    });

  });

  $('form').on('submit', function(event){
      event.preventDefault();

      var values = $(this).serialize();

      var projectUrl = event["target"]["baseURI"];
      var projectId = projectUrl.slice(-1);

      var posting = $.post('/projects/' + projectId + '/comments', values);


      posting.done(function(data) {
        //data["comments"].forEach(function(object){
          //loadData(object);
        //})
        console.log(data);
        postData(data);
      });

  });

  function loadData(data){
    
    var editLink = "../comments/" + data.id + "/edit";
    var deleteLink = "../comments/" + data.id + "/delete";
    //$(".edit_comment-"+data.id).show();
    //$(".delete_comment-"+data.id).show();
     $(".comment_content-"+data.id).append(data.content + '</br>');
     $(".comment_user-"+data.id).append('By: ' + data["user"]["name"] + '</br></br>');
     $(".comment_content-"+data.id).prepend("<div> <a href="+editLink+">Edit</a> <a href="+deleteLink+">Delete</a></div>");
     //$(".comment_content-"+data.id).append("<div> <a href="+deleteLink+">Delete</a></div>");
  }


  function postData(data){
     console.log(current_user);
     var data_id = parseInt(data.id)
     console.log(data_id);
     //$(".edit-comment-"+data_id).show();
     var editLink = "../comments/" + data.id + "/edit";
     var deleteLink = "../comments/" + data.id + "/delete";
     console.log($(".edit-comment-"+data_id).text());
    //$(".delete-comment-"+data_id).show();
    $(".comment_div").append("<div> <a href="+editLink+">Edit</a></div>");
    $(".comment_div").append("<div> <a href="+deleteLink+">Delete</a></div>");
    $(".comment_div").append("You posted:" + '</br>' + data.content + '</br>');
   
  }

})


</script>
