<%= flash[:success] if flash[:success] %>
<br><br>

<% if current_user && current_user.created_projects.include?(@project) %>
  <%= link_to "Edit project", edit_project_path(@project), class: 'form_button' %>
    <%= link_to 'Delete project',  user_project_path(current_user, @project),
        data: { confirm: 'Are you sure you want to delete this project?' }, method: :delete, class: 'form_button' %>
<%end%>

<h1 class="project_title_1"><%= @project.title %></h1><br><br>

<center><div class="project">

  <br>
  <p class="creator">Created by: <%= @user_name %></p>

  <% if !@project.image_file_name.nil? %>
    <center><%= link_to image_tag(@project.image.url, class: 'media-object'), @project.image.url, target: '_blank' %></center>
  <%end%>
  <br>
  <p class="created"><%= @project.short_blurb %></p>
  <p><%= @project.location %></p>

  <div class="likes"><%= pluralize(@project.likes, 'like') %></div>

  <br><br><br>
  <% @project.categories.each do |category| %>
    <p><%= category.name %></p>
  <%end%>

</div></center>
<br>

<% if current_user && !current_user.created_projects.include?(@project) %>
  <%= link_to "Like", project_like_path(@project), class: 'btn btn-default glyphicon glyphicon-thumbs-up' %><br><br>
<%end%>

<% if !current_user %>
  <%= link_to "Sign in", user_session_path %> to like or post a comment!
<%end%>

<div id="form"> 
  <%= form_for ([@project, Comment.new(project_id: @project.id)]) do |f| %>
    <%= f.hidden_field :project_id %>
    <%= f.label "Comment" %><br>
    <%= f.text_area :content, class: 'text-area' %><br><br>
    <%= f.submit %>
  <%end%>
</div>
<br>
<a href="" class="comments">Load Comments:</a><br><br>

<center><div id="box">

  <div class='comment_div'></div>

  <% @project.comments.each_with_index do |comment, index| %>
    <div class=comment_content-<%=comment.id%>></div>
    <div class=comment_user-<%=comment.id%>></div>
    <br>
  <%end%>
</div></center>


<script type="text/javascript" charset="utf-8">

$(function () {

  $("form").hide();

  if(currentUser.id != ""){
    $("form").show();
  }

  $(".comments").click(function(event){

    event.preventDefault();

    var projectUrl = event["target"]["href"];
    var projectId = projectUrl.slice(-1);

    $.get(projectUrl + ".json", function(data) {

      if(data["comments"].length === 0){
        alert("There are no comments to display.");
      }

      else{

        data["comments"].forEach(function(object){

          if($("#box").text().indexOf(object.content) === -1){
            loadData(object);
          }
          else{
            event.preventDefault();
          }
        });
      }

    });

  });

  $('form').on('submit', function(event){
      event.preventDefault();
      var values = $(this).serialize();
      var projectUrl = event["target"]["baseURI"];
      var projectId = projectUrl.slice(-1);

      var posting = $.post('/projects/' + projectId + '/comments', values);

      posting.done(function(data) {
          postData(data);
      });

  });

  function loadData(data){
    var editLink = "../comments/" + data.id + "/edit";
    var deleteLink = "../comments/" + data.id;
     $(".comment_content-"+data.id).append(data.content + '</br>');
     $(".comment_user-"+data.id).append('By: ' + data["user"]["name"] + '</br></br>');

     if(window.currentUser.id == data["user"]["id"]){
      $(".comment_content-"+data.id).prepend("<div> <a href="+editLink+">Edit</a> <a data-method='delete' href="+deleteLink+">Delete</a></div>");
     }
  }


  function postData(data){

   var data_id = parseInt(data.id)
   var editLink = "../comments/" + data.id + "/edit";
   var deleteLink = "../comments/" + data.id + "/delete";

    $(".comment_div").append("<a href="+editLink+">Edit</a> ");
    $(".comment_div").append("<a href="+deleteLink+">Delete</a> </br>");
    $(".comment_div").append(data.content + '</br>');
    $(".comment_div").append("By: " + data.user.name + '</br></br>');
   
  }

})


</script>
