<h1><%= @project.title %></h1>

<p>Name: <%= @project.title %></p>
<p>Description: <%= @project.long_description %></p>
<p>Category: <%= @project.category.name %></p>

<p>Comments:</p>

<% @project.comments.each do |comment| %>
  <%= comment.content %><br>
<%end%>
<br>

<% if current_user %>
  <%= link_to "Post a comment", new_project_comment_path(@project) %>
<% else %>
  <%= link_to "Sign in", user_session_path %> to post a comment!
<%end%>